<ion-view title="Day One" id="page11">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="dayOne-card23">
      <ion-item id="dayOne-list-item16">Skiing in the Pyrenees
        <span class="item-note">8:00 - 15:00</span>
      </ion-item>
      <div class=" item item-image">
        <img src="img/1HeeV4koQ9OODqeehRiV_262.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="dayOne-list-item-container4">
        <div id="dayOne-markdown7" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">There are two large skiable domains: GRANDVALIRA and VALLNORD, with a total of 110 ski lifts carrying over 156,000 skiers per hour. Andorra now hosts major international winter sports events, such as the alpin ski world cup, or the mountaineering
            world cup.</p>
        </div>
      </div>
      <ion-item class="item-icon-left positive" id="dayOne-list-item17">
        <i class="icon ion-ios-location"></i>Get directions</ion-item>
    </div>
    <div class="list card" id="dayOne-card25">
      <ion-item id="dayOne-list-item20">Refugi de Montmalús
        <span class="item-note">15:00 - 19:00</span>
      </ion-item>
      <div class=" item item-image">
        <img src="img/0whaSGV8QPul4VgjkLlL_refugis_900x450.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="dayOne-list-item-container6">
        <div id="dayOne-markdown9" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">The Montmalús Hut is next to the Estanys de Montmalús lakes in the parish of Encamp. At an altitude of 2,445 metres, it has 10 places. You can get to the Montmalús Hut by car to Soldeu. Then continue on foot along the ski track to the Coma Estremera
            Lake (2,392 metres alt.). Then climb la Coma to the pass, just in front and to the left of the Pic de Soldeu passing through els Fontanals, Port Dret and following the Sant Josep river to the hut. The route takes approximately 2 hours and
            has a climb of 810 metres, with medium difficulty.</p>
        </div>
      </div>
      <ion-item class="item-icon-left positive" id="dayOne-list-item21">
        <i class="icon ion-ios-location"></i>Get directions</ion-item>
    </div>
    <div class="list card" id="dayOne-card24">
      <ion-item id="dayOne-list-item18">Shopping at La Valle
        <span class="item-note">19:00 - 22:00</span>
      </ion-item>
      <div class=" item item-image">
        <img src="img/gWnxH49TtyMD9UemnAuW_andorre-la-vieille8815.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="dayOne-list-item-container5">
        <div id="dayOne-markdown8" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Andorra la Vella has several specialised commercial thoroughfares where visitors often enjoy visitng. The main thoroughfares and adjacent streets in the capital actually constitute a vast open-air shopping centre. Here, visitors can find the
            most exclusive articles, the latest products to hit the world market and the most unique specialities, all at unbeatable prices.</p>
        </div>
      </div>
      <ion-item class="item-icon-left positive" id="dayOne-list-item19">
        <i class="icon ion-ios-location"></i>Get directions</ion-item>
    </div>
  </ion-content>
</ion-view>