<ion-view title="Electronics" id="page13">
  <ion-content padding="true" class="has-header">
    <ion-list id="electronics-list10">
      <ion-item class="range range-positive" id="electronics-range1">Price
        <input type="range" value="50" min="0" max="10000" step="1">
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="electronics-list-item35">
        <img src="img/sSAlN5ZlQPKXws9lD14j_Blueskysea-Free-Gift-Syma-X5C-PRO-X8C-Venture-Big-RC-Quadcopter-Drone-Toy-w-2MP-720-HD-Camera-Headless-0-0.jpg">
        <h2>Quadcopter</h2>
        <p>$45.00</p>
        <i class="icon ion-ios-location"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="electronics-list-item33">
        <img src="img/CEIsKg2NROHLsPyeIM4Z__0003_overear-solo2-black-rgb-thrqrtleft.png.large.1x.png">
        <h2>Beats by Dre</h2>
        <p>$129.00</p>
        <i class="icon ion-ios-location"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="electronics-list-item34">
        <img src="img/erlcGIySJGPUtyR22wcY_simple.b-cssdisabled-png.hb5376ccb8bc7d7e4cfb341ccdf07ae6d.pack">
        <h2>Fitbit</h2>
        <p>$149.00</p>
        <i class="icon ion-ios-location"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="electronics-list-item31">
        <img src="img/bQtkMLkSCWbZLJADzvdD_rsz_iphone-7-jet-black.jpg">
        <h2>iPhone 7</h2>
        <p>$649.00</p>
        <i class="icon ion-ios-location"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="electronics-list-item32">
        <img src="img/1MaBfLA8QMitjJ0Rug4X_samsung-galaxy-s7-e-s7-edge-in-abbonamento_642065.jpg">
        <h2>Samsung Galaxy s7</h2>
        <p>$679.00</p>
        <i class="icon ion-ios-location"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>