<ion-view title="Explore" id="page10">
  <ion-content padding="true" class="has-header">
    <ion-list id="explore-list8">
      <label class="item item-select" id="explore-select1">
        <span class="input-label">Select</span>
        <select>
          <option>Active</option>
          <option>City</option>
          <option>Cultural</option>
          <option>Shopping</option>
        </select>
      </label>
      <ion-item class="item-thumbnail-left item-icon-right" id="explore-list-item5" ui-sref="menu.itinerary">
        <img src="img/7sg35BA5TZ2jQkzEkec4_4511-480.jpg">
        <h2>Hiking Trip</h2>
        <p>Refugi de les Perdes, Refugi de Montmalus</p>
        <i class="icon ion-ios-heart"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="explore-list-item6">
        <img src="img/LXrtkSYVSCa7jGjADGYE_Shopping-district-in-Andorra.jpg">
        <h2>Shopping and Restarants </h2>
        <p>La Vella</p>
        <i class="icon ion-ios-heart-outline"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="explore-list-item7">
        <img src="img/nGhNqRIbSQqZE6exZsTx_b6d5950b9b179cf9b7cda9d7400ad67c.jpg">
        <h2>Culture and History</h2>
        <p>National Museum, Museum of Automobiles</p>
        <i class="icon ion-ios-heart-outline"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="explore-list-item8">
        <img src="img/t5E7OHYGR5iImahMR3oA_andorra-pyrenees-mountains-skiing-3.jpg">
        <h2>Skiiing</h2>
        <p>Pyrenees</p>
        <i class="icon ion-ios-heart-outline"></i>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="explore-list-item9">
        <img src="img/eSpz0u9dRvWbyAKAsdVZ_sola-irrigation-canal.jpg">
        <h2>Trails and Biking</h2>
        <p>Sola Irrigation Canal Trail</p>
        <i class="icon ion-ios-heart-outline"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>