<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <div>
      <a style="display:block;" ui-sref="menu.createNewTrip">
        <img src="img/a70PzYvETQiZhLm9ofdG_ScreenShot2016-11-29at1.57.19PM.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div>
      <a style="display:block;" ui-sref="menu.explore">
        <img src="img/FUOrrgvySA2n2hgNESVK_ScreenShot2016-11-29at1.57.52PM.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div>
      <a style="display:block;" ui-sref="menu.reclist">
        <img src="img/Km1uYIaIT32kxxnGcYR3_ScreenShot2016-11-29at1.57.56PM.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>