<ion-view title="ListOfFood" id="page17">
  <ion-content padding="true" class="has-header">
    <ion-list id="listOfFood-list19">
      <ion-list id="listOfFood-list18">
        <label class="item item-select" id="listOfFood-select2">
          <span class="input-label">Select</span>
          <select>
            <option>Distance</option>
            <option>Popularity</option>
          </select>
        </label>
        <ion-item ng-click="open()"class="item-thumbnail-left" id="listOfFood-list-item45" ui-sref="menu.recommendations">
          <img src="img/0HdHB7eRQRyf0rw9oO0V_image.jpg">
          <h2>loco</h2>
          <p>2.4 m</p>
        </ion-item>
        <ion-item class="item-thumbnail-left" id="listOfFood-list-item46">
          <img src="img/xLxsFD6PSJKkwV6KSmKf_vdara-restaurant-market-cafe-vdara-exterior.tif">
          <h2>Tipico</h2>
          <p>4.6 m</p>
        </ion-item>
        <ion-item class="item-thumbnail-left" id="listOfFood-list-item47">
          <img src="img/yj3QC8dLRAWMf1N5P3jz_homrst-omni-homestead-resort-jeffersons-restaurant-2.jpg">
          <h2>lovely</h2>
          <p>5 m</p>
        </ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>