<ion-view title="My Profile" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="myProfile-list12">
      <ion-item class="item-avatar" id="myProfile-list-item4">
        <img src="img/B1rXDJkRe62PxjWmHXrr_12151494-young-and-smiling-casual-man-headshot-isolated-on-white-background--Stock-Photo.jpg">
        <h2>{{user.username}}</h2>
        <p style="white-space:normal;">{{user.email}}</p>
      </ion-item>
    </ion-list>
    <h3 id="myProfile-heading17" style="color:#000000;font-weight:300;">Past Trips</h3>
    <ion-list id="myProfile-list2">
      <ion-item class="item-thumbnail-left" id="myProfile-list-item36" ui-sref="menu.itinerary">
        <img src="img/zYvyHrw2SXahGY2XMpNR_262.jpg">
        <h2>December Trip</h2>
        <p>Skiiing in the Pyrenees, Refugi</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="myProfile-list-item37">
        <img src="img/VE2B4fh1TjGgCBkg7Gw0_Soldeu_0.jpg">
        <h2>Summer 2015</h2>
        <p>Camping and biking in the Pyrenees</p>
      </ion-item>
    </ion-list>
    <h3 id="myProfile-heading10" style="color:#000000;font-weight:300;">Liked Trips</h3>
    <ion-list id="myProfile-list11">
      <ion-item class="item-thumbnail-left" id="myProfile-list-item39">
        <img src="img/nRvOZzttRNSvtJu28LeD_4511-480.jpg">
        <h2>Hiking Trip</h2>
        <p>Refugi de les Perdes, Refugi de Montmalus</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>