<ion-view title="reclist" id="page16">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/TpstLWgtRzv39y9G8h6V_1216christmas-andorra_orig.jpg" style="display: block; width: 100%; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="reclist-list16">
      <ion-item id="reclist-list-item28" ui-sref="menu.listOfFood">Food</ion-item>
      <ion-item id="reclist-list-item38">Fun Activities</ion-item>
      <ion-item id="reclist-list-item40" ui-sref="menu.holidayShoppingIdeas">Shop</ion-item>
    </ion-list>
  </ion-content>
</ion-view>