<ion-view title="recommendations" id="page15">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/Qy6AFgPQRfGyjCgSUDrd_homrst-omni-homestead-resort-jeffersons-restaurant-2.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="recommendations-list13">
      <ion-item class="item-divider" id="recommendations-list-item-divider4"> Bueno Restaurants</ion-item>
    </ion-list>
    <div class="item item-body" id="recommendations-list-item-container7"></div>
    <ion-list id="recommendations-list14">
      <ion-item class="item-avatar" id="recommendations-list-item10">
        <img src="img/conemsiT5mopd1H84O2v_perry.png">
        <h2>Kenny</h2>
        <p>Must try this restaurant! </p>
      </ion-item>
      <ion-item class="item-avatar" id="recommendations-list-item11">
        <img src="img/LNv1x7ouSgWiK2aog77c_mike.png">
        <h2>Kenny</h2>
        <p>Best I ever went to.</p>
      </ion-item>
      <ion-list id="recommendations-list15">
        <ion-item class="item-divider" id="recommendations-list-item-divider5"> Similar ones...</ion-item>
        <ion-item class="item-thumbnail-left" id="recommendations-list-item15">
          <img src="img/0HdHB7eRQRyf0rw9oO0V_image.jpg">
          <h2>loco</h2>
          <p>best crazy restaurant!</p>
        </ion-item>
        <ion-item class="item-thumbnail-left" id="recommendations-list-item22">
          <img src="img/xLxsFD6PSJKkwV6KSmKf_vdara-restaurant-market-cafe-vdara-exterior.tif">
          <h2>Tipico</h2>
        </ion-item>
        <ion-item class="item-thumbnail-left" id="recommendations-list-item23">
          <img src="img/yj3QC8dLRAWMf1N5P3jz_homrst-omni-homestead-resort-jeffersons-restaurant-2.jpg">
          <h2>lovely</h2>
        </ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-view>