<ion-view title="Signup" id="page6">
  <ion-content padding="true" style="background: url(img/byvetN3mRdunxnG2E0Ps_andorra.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div id="signup-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{error}}</p>
    </div>
    <div class="spacer" style="height: 100px;"></div>
    <form id="signup-form5" class="list">
      <ion-list id="signup-list7">
        <label class="item item-input" id="signup-input15">
          <span class="input-label">Name</span>
          <input type="text" placeholder="" ng-model="data.name">
        </label>
        <label class="item item-input" id="signup-input16">
          <span class="input-label">Email</span>
          <input type="text" placeholder="" ng-model="data.email">
        </label>
        <label class="item item-input" id="signup-input17">
          <span class="input-label">Password</span>
          <input type="text" placeholder="" ng-model="data.password">
        </label>
      </ion-list>
      <button id="signup-button10" ng-click="signUp()" class="button button-stable  button-block">Sign up</button>
    </form>
  </ion-content>
</ion-view>